* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 200px 10vh calc(100vh - (200px + 20vh)) 10vh;
}
.content {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
}

.header {
  background-image: url(https://cdn.pixabay.com/photo/2016/05/11/13/20/keyboard-1385706_960_720.jpg);
  grid-column: span 12;
  background-size: cover;
  background-position: center;
}
nav {
  background-color: rgb(147, 230, 230);
  grid-column: span 12;
}

aside {
  background-color: bisque;
  grid-column: span 3;
}
main {
  background-color: tomato;
  grid-column: span 9;
  padding: 10px;
}

footer {
  background-color: rgb(231, 190, 86);
  grid-column: span 12;
  padding: 10px;
}
